<script src="xmlToJSON.js"></script>
<script>
window.Campus = window.Campus || {
    school: {
        name: '1Campus',
        url: 'http://1campus.net',
        dsns: '1campus.net'
    },
    language: {
        code: 'zh-tw',
        title: '繁體中文'
    },
    authServer: 'https://auth.ischool.com.tw'
};

window.Campus.TranslateBehavior = window.Campus.TranslateBehavior || {
    initTranslate: function(data) {
        this.set('translate', data[data.default]);
        this.set('translate._current', data.default);
    }
};

window.Campus.DeviceBehavior = window.Campus.DeviceBehavior || {
    isIOS: function() {
        return (/(iPhone|iPad|iPod)/gi).test(navigator.platform);
    },

    isAndroid: function() {
        return (/Android/gi).test(navigator.userAgent);
    },

    isMobile: function() {
        return (/Android|iPhone|iPad|iPod|BlackBerry|Windows Phone|webOS/gi).test(navigator.userAgent);
    }
};

window.Campus.ServiceBehavior = window.Campus.ServiceBehavior || {
    generateRequest: function(request, callback) {
        var connection = gadget.getContract(request.contract);
        connection.send({
            service: request.service,
            body: request.body,
            result: function(response, error, xhr) {
                var rsp = xmlToJSON.parseString(xhr.responseText, {
                    attrKey: '$',
                    valueKey: null,
                    textKey: "_",
                    grokAttr: false,
                    grokText: false,
                    normalize: false,
                    childrenAsArray: false
                });

                if (callback) callback(rsp.Envelope.Body, error, xhr);
            }
        });
    }
};

window.Campus.AjaxBehavior = window.Campus.AjaxBehavior || {
    ajax: function(options, callback) {
        var xhr = new XMLHttpRequest();

        try {
            if (options.method && options.url)
                xhr.open(options.method, options.url, true);

            if (options.header) {
                for (k in options.header)
                    xhr.setRequestHeader(k, options.header[k]);
            }

            if (options.responseType)
                xhr.responseType = options.responseType;

            xhr.onload = function() {
                if (callback) callback(this.response, xhr);
            };

            if (options.request) {
                if (typeof options.request === 'object')
                    xhr.send(JSON.stringify(options.request));
                else
                    xhr.send(options.request);
            } else
                xhr.send();
        } catch (err) {
            console.error(err);
        }
    }
};
</script>
